
.product {
    margin: 50px;
    width: 200px;
    padding: 20px;
    box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.155);
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    background: white;  
}

img {
    width: 55%;
}

p {
    font-size: 14px;
}
